#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  position: relative;
  width: 258px;
  text-align: center;
  background-color: #838882;
  padding: 5px;
  box-shadow: 4px 4px 2px black;
}

#buttons {
  display: inline-block;
  width: 258px;
  height: 258px;
  background-color: #838882;
  
}

.drum-pad{
  
  background-color: aqua;
  position:relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 3px;
  border-radius: 5px;
  padding: 10%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 3px 3px 2px black;
  display:flex;
  justify-content: center;
  align-items: center;
}

.drum-pad:active{
  background-color: #63A3B4; /* change the background color when clicked */
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5); /* add a shadow effect */
}


#sound-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  width:258px;
  background-color: #838882;
}

#sound-box{
  
  width: 100px;
  height:20px;
  padding: 5px;
  background-color: aliceblue;
  box-shadow: 3px 3px 2px black;
}

